<!DOCTYPE html>
<html>
<head>
    <title>Flask SocketIO Chat Example</title>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
    </script>
</head>
<body>
    <h2>Hello This is answer space</h2>
    <h2 id="username">{{username}}</h2>

    <form>
        <h3>Question</h3>
        <h4 id="question">Waiting...</h4>
    </form>

    <form>
        <label for="userInput">Input:</label><br>
        <input type="text" id="userInput" name="userInput"><br>
        <button type="button" onclick="submitInput()">Submit</button>
    </form>
    <script>
        
        socket.on('redirect', function(data) {
        console.log("Received redirect event with data: ", data);
        window.location.href = data.url;
        });

    </script>
    <script>
        socket.on('render question', (data) => {
            document.getElementById("question").innerText = data['question'];
            console.log(data['question']);
        });

    function submitInput() {
    var inputElement = document.getElementById("userInput");
    var inputValue = inputElement.value;  // This is the 'answer'
    console.log(inputValue);

    var usernameElement = document.getElementById('username');  // This is the 'username'
    if (usernameElement) {
        var username = usernameElement.textContent;
        
        // Send both 'username' and 'answer' to the server
        var data = {
            'username': username,
            'answer': inputValue
        };
        socket.emit('receive try', data);

        inputElement.value = '';

        // window.location.href = "/" + username + "/wait";
        window.location.href = "/"+username;
    } else {
        console.error('No element with ID "username" found');
    }
    }
    </script>

</body>
</html>