<!DOCTYPE html>
<html>
<head>
    <title>Flask SocketIO Chat Example</title>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('connected to server');
        });

        socket.on('message', function(data) {
            print(data)
        });
        
    </script>
</head>
<body>
    <h2>Hello This is quiz space</h2>
    <h2 id="username">{{username}}</h2>

    <!-- <form>
        <label for="userInput">Input:</label><br>
        <input type="text" id="userInput" name="userInput"><br>
        <button type="button" onclick="submitquestion()">提問</button><br>

        <input type="text" id="userInput" name="userInput"><br>
        <button type="button" onclick="submitanswer()">輸入標準答案</button>
    </form> -->
    
    <form>
        <label for="questionInput">Question:</label><br>
        <input type="text" id="questionInput" name="questionInput"><br>
        <button type="button" onclick="submitquestion()">提問</button><br>
       
        <label for="answerInput">Give Answer:</label><br>
        <input type="text" id="answerInput" name="answerInput"><br>
        <button type="button" onclick="submitanswer()">輸入標準答案</button>
    </form>
    


    <script>
        function submitquestion() {
            //var inputElement = document.getElementById("userInput");
            var inputElement = document.getElementById("questionInput");
            var inputValue = inputElement.value;
            console.log(inputValue);
            socket.send(inputValue);   // send back to server 
            socketio.emit('show', msg, room=room, skip_sid=request.sid)
            inputElement.value = '';

            // var input = document.getElementById("userInput").value;
            // console.log(input);
            // socket.send(input);   // send back to server 
            // input.value='';



            // var usernameElement = document.getElementById('username');  // ensure this element exists in your HTML
            // if (usernameElement) {
            //     var username = usernameElement.textContent;
            //     window.location.href = "/" + username + "/wait";
            // } else {
            //     console.error('No element with ID "username" found');
            // }
        }
    </script>

    <script>
        function submitanswer() {
            //var inputElement = document.getElementById("userInput");
            var inputElement = document.getElementById("answerInput");
            var inputValue = inputElement.value;
            console.log(inputValue);
            // socket.send(inputValue);   // send back to server 
            //inputElement.value = '';
      
            socket.emit('receive answer', inputValue);

            var usernameElement = document.getElementById('username');  // ensure this element exists in your HTML
            if (usernameElement) {
                var username = usernameElement.textContent;
                window.location.href = "/" + username + "/wait";
            } else {
                console.error('No element with ID "username" found');
            }
        }
    </script>



</body>
</html>